.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}
.header-logo {
    position: relative;
    z-index: 3;
}
.header,
.blog-content {
    margin: 0;
    padding: 10px;
    background: #fff;
    @include box-shadow(0, 0, 15px, -4px, rgba(0, 0, 0, 0.17));
}

.site-main {
	margin: $size__site-top 0 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
    width: $size__site-main;
}

.site-footer {
	clear: both;
	width: $size__site-main;
    background-color: $color__background-blocks;
    color: $color__text-footer;
    padding: 50px  0;
}
.f_widget .widget {
  list-style: none;
}
.f_widget,
.f_widget .widgettitle{
   font-style: normal;
   font-weight: normal;
   @include font-size(1.2);
   line-height: 119%;
}
.f_widget .f-title,
.f_widget .widgettitle{
    color: $color__text-footer-title;
}
.f_widget .f-content {
    margin: 8px 0;
}
.f_widget .f-content li,
.f_widget .menu-item {
    line-height: 30px;

}
.f_widget .f-content .f-social > li {
    display: inline-block;
    padding: 5px 10px;
}
.f_widget .f-content .f-social > li:first-child {
  padding-left: 0;
}
.f_widget .f-content .f-social > li a .svg-inline--fa {
    @include font-size(1.8);
}
.f-social {
    width: 60%;
    float: right;
}
.f_widget .f-content a,
.f_widget .menu-item a,
.f_widget .current-menu-item a{
    color: $color__text-footer !important;
    text-decoration: none;
    display: block;
}
.f_widget .f-title::after,
.f_widget .widgettitle::after {
    content: "";
    display: block;
    height: 1px;
    width: 80%;
    margin-top: 4px;
    background-color: $color__text-footer-title;
}
@import "no-sidebar";
