.no-sidebar {
	.content-area {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.site-main {
		margin: 0 !important;
		overflow: hidden;
		
	}
}
.not-found {
	background: url('images/404_bg.png') ;
	
	background-color: #ffffff;
	
	/* You must set a specified height */
	background-position: top;
	/* Center the image */
	background-repeat: no-repeat;
	/* Do not repeat the image */
	background-size: cover;
	/* Resize the background image to cover the entire container */
}
.page-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	width: 100%;
	padding: 0;
	margin: 0 0 0 !important;
	text-align: center;
	
}
.page-content h2 {
	font-size: 48px;
	font-weight: bold;line-height: 57px;
}
.not-found-btn,
.not-found-btn:hover,
.not-found-btn:visited {
	width: 408px;
	background-color: #000000;
	color: #fff;
	text-align: center;
	padding: 15px;	
	border-radius: 5px;
	margin: 50px 0 0;
}
