.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1920px) {
  .container-fluid {
    max-width: 95% !important;
  }
  .order_content {
    top: 35%;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px){
  .response img {
    height: auto;
  }
  .header__list li {
    margin: 0 0 0 15px;
  }
}

@media only screen and (max-width: 1024px ){
  .header__list li {
    margin: 0 0 0 10px;
  }
  .header-info li {
    margin-left: 8px;
  }
 
  // .block-img {
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   height: 60%;
  //   width: 50%;
  // }
 
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header__list li a,
  .header-info li {
    font-size: 15px;
  }
  .block-content {
    padding: 0 20px;
    
  }
.blog-content{
  flex-direction: column;  
}
  .block-content h1 {
    line-height: 37px;
  }
  // .order-block{
  //   height: 400px;
  // }
  .order_content {
    top: 18%;
  }
  .r-item {
    flex: 1 100%;
  }
  .owl-prev span, .owl-next span {
    top: 30%;
  }
}
@media only screen and (max-width: 768px){
  .lock {
    overflow: hidden;
  }
  .menu-block{
    justify-content: center;
  }
  .header__list li a,
  .header-info li {
    font-size: 16px;
  }
  .scrolled-content {
    margin: 75px 0 20px;
  }
  .sofa .feat-img img,
  .mattress .feat-img img {
    position: unset; 
  }
  .carpet .feat-img img {
    width: 80%;
  }
  .single-block{
    min-height: 100%;
    margin: 15px;
    border-radius: 4px;
  }
  .block-img {
    margin: 60px 0 0;
  }
  .container {
    max-width: 100% !important;
  }
  .featured_block {
    margin: 85px 0 10px;
  }
  .site-header {
    height: auto;
  }
  .main-navigation {
    padding: 80px 0 30px 0;
    position: fixed;
    z-index: 1;
    top: -100%;
    overflow: auto;
    transition: all .6s cubic-bezier(0, 1, 0.5, 1);
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $color__background-body;
    @include box-shadow(0, 0, 15px, -4px, rgba(0, 0, 0, 0.17));
  }
  .main-navigation.on{
    top: 0;
  }
  .header-info {
    margin: 0;
    @include font-size(1.2);
    justify-content: center;
    float: none;

  }
  .header__list {
    display: block;
    width: 100%;
  }
  .header__list li {
    margin: 0 0 15px 0;
  }
  .header__list li a {
    @include font-size(1);
    margin: 0 0 0 30px;
  }
  .header__list li:nth-child(3),
  .header__list li:nth-child(6){
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  .mobile-mnu{
    position: relative;
    z-index: 3;
    float: right;
  }
  .toggle-mnu {
    display: block;
    width: 40px;
  }
  .soc-icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
  }
  .lang-switcher {
    margin: 10px 0;
    padding: 20px 30px;
    border-top: 1px solid #ccc;
    width: 100%;
  }
  .menu-social > li a {
    color: $color__menu-link;
    @include font-size(2);
    width: 35px;
    height: 35px;

  }
  .show_phone {
    @include font-size(1.5)
  }

  .text-block {
    width: 80%;
  }
  .text-block h2 {
    font-size: 25px;
  }
 
  .f-social{
    width: 100%;
    float: none;
    text-align: center;
  }
  .price-block {
    padding: 60px 0;
  }
  .price-item h3 {
    margin: 0;
  }
  .price-block-title {
    display: none !important;
  }
  .prices-title{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }
  .blocks {
    flex-direction: column;
  }
  .block-content p.link-more > a {
    left: 20px;
  }
  .block-content {
    padding: 0 15px;
  }
  .blocks {
    margin: 70px 10px 0;
    border-radius: 5px;
  }
  .block-item
  {
    margin: 5px 0;
    border-radius: 5px;
    position: relative;
  }

  .s_blocks {
    padding: 40px 0;
  }
  .r-item a .svg-inline--fa {
    @include font-size(1.7);
    margin: 20px 0;
  }

  .r-item a .fa-share{
    @include font-size(1.4)
  }
  .order-block, .adver-pict{
    flex: 1 100%;
  }
  .order_content {
    right: 15%;
  }
  .price-item {
    width: 90%;
    margin: 15px 0;
  }
  .price-content p {
    float: left;
    margin: 0 0 10px 0;
  }
  .price-excerpt {
    text-align: right;
  }
  .reviews,
  .s_blocks,
  .price-block{
    padding: 50px 0;
  }
  .discount
  {
    background: #fff;
    @include box-shadow(0, 0, 15px, -4px, rgba(0, 0, 0, 0.17));
  }
  .response{
    width: 95%;
    border-radius: 3px;
    @include box-shadow(0, 0, 15px, -4px, rgba(0, 0, 0, 0.17));
  }
  .response-items{
    margin: 15px;
  }
  .order-block {
    background-color: #fff;
    color: #000 !important;
    width: 100%;
  }
  .order-form {
    flex-direction: column-reverse;
    margin: 20px 15px;

  }
  .order_content {
    position: unset;
    padding: 15px 0 0;
    width: 100%;
    margin: 20px 0;
  }
  #amoforms_form_1.amoforms #style-5 .amoforms_submit_button {
    background-color: $color__background-blocks !important;
  }
  .order_content input[type="submit"],
  .order-btn {
    background-color: $color__background-blocks;
  }
  
  .float-btn-sticky {
    background-color: #fff;
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 20px;
    padding: 10px;
    z-index: 3;
    @include box-shadow(0, 0, 15px, -4px, rgba(0, 0, 0, 0.17));
  }
  
  .sticky-button,
  .sticky-button:visited {
    width: 100%;
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: $color__background-blocks;
  }
  .socials-block {
    width: 100%;
  }
  .block .socials {
    margin: 10px 0;
  }
  
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 648px){
  .featured_block {
    margin: 70px 0 10px;
  }
  .review-block {
    width: 90%;
    margin: 10px auto;
  }
  .owl-prev span, .owl-next span {
    top: 20%;
  }
  .phases-blocks {
    flex-direction: column-reverse;
    margin: 15px;
    border-radius: 3px;
    @include box-shadow(0, 0, 15px, -4px, rgba(0, 0, 0, 0.17));
  }
  .s-response {
    padding: 30px 0 0 0;
  }

  .phases-blocks:last-child {
    flex-direction: column-reverse;
  }
  
  .block-text, .block-video {
    flex: 1 100%;
  }
  .discount-header,
  .discount-head{
    margin-top: 40px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px){
  .header-logo img{
    max-width: 110px !important;
  }
  .header-info {
    margin: 5px 0;
    @include font-size(.8);
    justify-content: center;
    align-items: center;
  }
  .blog-img img {
    float: none;
    width: 100%;
  }
  .f_widget {
    margin-top: 10px;
  }
  .f_widget .f-title::after{
    width: 100%;
  }
  .block .socials {
    margin: 10px 5px;
    width: auto; 
  }

  .f_widget .f-title::after,
  .f_widget .widgettitle::after {
    width: 100%;
  }
  .discount{
    margin: 5px 7px;
  }
  .socials-block {
    justify-content: space-around;
  }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px){
  
  // .logo-block,
  // .menu-block {
  //   flex: 1 0 auto;
  // }
  // .menu-block {
  //   width: 20%;
  // }
  .show_phone {
    @include font-size(1.1)
  }
  .main-navigation{
    padding-top: 80px;
  }

  .sofa .feat-img{
    bottom: 0;
  }
  .block-content h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .block-content p {
    font-size: 15px;
  }
  .block-price {
    font-size: 13px;
  }
  .r-item h1 {
    @include font-size(1.3)
  }
  .s-response h2 {
    font-size: 23px;
  }
  .text-block {
    margin: 40px auto;
  }
  .author-pic p {
    font-size: 16px;
  }
  .price-item h3{
    font-size: 19px;
  }
  .text-block h2,
  .order_content h2,
  .reviews h2,
  .block h2
  {
    font-size: 23px;
  }
  .owl-prev span, .owl-next span {
    top: 15%
  }
  .owl-next span{
    right: 4%;
  }
  .owl-prev span {
    left: 4%;
  }
  .prices-title h3 {
    @include font-size(1.1)
  }
  

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 380px){
  .header-logo img{
    max-width: 95px !important;
  }
  .col-3 {
    padding: 0 !important;
  }
  .block-contet, .block-price {
    margin-top: 20px;
  }
  .block-content h1 {
    line-height: 30px;
  }
  .sofa .feat-img img{
    width: 80%;
  }
  .order_content {
    right: 15px;
    width: 100%;
  }

  .owl-prev span, .owl-next span {
    top: 10%;
  }
  .float-btn-sticky{
    bottom: 60px;
  }
}
@media only screen and (max-width: 348px){
  .show_phone {
    @include font-size(.9)
  }
  .discount{
    margin: 0 2px;
  }
  .prices-title {
    align-items: baseline;
  }
  .prices-title img {
    width: 50px;
  }
  .carpet .feat-img {
    width: 70%;
    max-height: 230px;
  }
  
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px){


}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px){

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px){
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px){}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
