// Rem output with px fallback
//@mixin font-size($sizeValue: 1) {
//	font-size: ($sizeValue * 16) * 1px;
//	font-size: $sizeValue * 1rem;
//}
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// box shadow
// @mixin boxShadow($w, $h, $b, $r, $color) {
// 	-webkit-box-shadow: $w $h $b $r $color;
// 	box-shadow: $w $h $b $r $color;
// }
@mixin box-shadow($top, $left, $blur, $r, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $r $color;
    -moz-box-shadow:inset $top $left $blur $r $color;
    box-shadow:inset $top $left $blur $r $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $r $color;
    -moz-box-shadow: $top $left $blur $r $color;
    box-shadow: $top $left $blur $r $color;
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@mixin justify-content($arg) {
  -webkit-justify-content: $arg;
  -moz-justify-content: $arg;
  -ms-justify-content: $arg;
  justify-content: $arg;
  -ms-flex-pack: $arg;
}