.chystota_pagination {
  width: 100%;
  margin: 15px 0; }

.chystota_pagination ul {
  display: table;
  margin: 0 auto; }

.chystota_pagination li {
  float: left;
  margin: 0 5px; }

.chystota_pagination li a.page-numbers {
  display: inline-block;
  padding: 4px 12px;
  margin-right: 0;
  border-radius: 0;
  @include box-shadow(0, 0, 15px, -4px, rgba(0, 0, 0, 0.17));
  
  font-size: .875em;
  font-weight: bold;
  text-decoration: none;
  color: #717171;
  background-color: #fff;}

.chystota_pagination li a.page-numbers:hover {
  color: $color__text-footer;
  background: $color__active-menulink; }

.chystota_pagination li span.page-numbers.current {
  display: inline-block;
  padding: 4px 12px;
  margin-right: 0;
  border-radius: 0;
  border: solid 1px #fff;
  font-size: .875em;
  font-weight: bold;
  background: $color__active-menulink;
  @include box-shadow(0, 0, 15px, -4px, rgba(0, 0, 0, 0.17));
  color: $color__text-footer; }