$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-blocks: #21A068;
$color__background-locale: #222222;
$color__background-opacity: rgba(0, 0, 0, 0.1);
$color__background-transparent: none;
$color__background-sofa: #21A068;
$color__background-mattress: #86ADC2;
$color__background-carpet: #EAE9E6;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__special-button: #000;
$color__active-button: #21A068;
$color__text-footer-title: #C7E7D9;
$color__text-input-focus: #111;
$color__link: #21A068;
$color__active-menulink: #21A068;
$color__menu-link: #111;
$color__inverted-link: #222222;
$color__link-visited: #21A068;
$color__link-hover: #111;
$color__text-main: #404040;
$color__text-footer: #fff;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__font_blocks: #21A068;
