.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: $color__background-body;
  
}
.header:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color__background-body;
}
.site-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.main-navigation,
.header-info,
.lang-switcher,
.logo-block
 {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
}
.menu-block {
  display: flex;
}
.logo-block {
  justify-content: center;
}
.logo-block,
.menu-block,
.city-head,
.lang-switcher{
  flex: 1 0 auto;
}

.main-navigation {
  justify-content: flex-start;
}
.ui.selection.dropdown .text {
  width: 60px;
}

.header-info {
  justify-content: flex-end;

}
.lang-switcher
{
  text-align: center;
}
.lang-switcher a.languages__item {
  color: #4E4E4E;
  margin: 0 3px;
  text-transform: uppercase;
}
.lang-switcher a.languages__item::after{
  content: " \007C ";
  // margin: 0 3px;

}
.lang-switcher a.languages__item:last-child::after {
  content: " ";

}
.lang-switcher span.languages__item--current {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}
.current_page_item > a,
.current-menu-item > a,
.current_page_ancestor > a,
.current-menu-ancestor > a {
  color: $color__active-menulink;
}
.header__list {
  display: flex;
}
.ui.dropdown .menu {
  top: -10px;
}
.cityname {
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin: 0 0 20px 0;
}
.cityname .selection {
  border: 1px solid #fff !important;
  margin: 0 0 10px 0;
  width: 100%;
}

.cityname .text
{
  margin-left: 15px;
}
.cityname .selection > .dropdown.icon {
  right: 2em !important;
}
.header__list li {
  margin: 0 0 0 20px;
}
.header__list li a,
.header-info li{
  color: $color__menu-link;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.header__list li a:hover,
.header__list li a.active {
  color: $color__active-menulink;
}

.header-info li {
  margin-left: 10px;
}
.show_phone a {
  color: $color__menu-link;
}
.ui.selection.dropdown {
  border: none;
  min-width: 0;
}
.ui.dropdown .menu .selected.item,
.ui.dropdown .menu>.item:hover {
  color: $color__active-button !important;
}
.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown .menu:hover {
  border-radius: .28571429rem .28571429rem;
  border-color: $color__text-footer;
}

// .custom-select select {
//   border: none;
//   background: #ffffff;
//   outline: none;
//   //-moz-appearance:none; /* Firefox */
//   //-webkit-appearance:none; /* Safari and Chrome */
//   //appearance:none;
// }
// .custom-select select:after {
//   content: '';
//   width: 10px;
//   height: 10px;
//   background: #000;
// }
.mobile-mnu {
  cursor: pointer;
}
.toggle-mnu {
  display: block;
  width: 45px;
  height: 33px;
  float: left;
  padding: 6px 8px;
}
.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px; }
.toggle-mnu span:after {
  top: 18px; }
.toggle-mnu span {
  position: relative;
  display: block; }
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: $color__link-hover;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px; }
.toggle-mnu.on span {
  background-color: transparent; }
.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
  -moz-transform: rotate(45deg) translate(-1px, 0px);
  -ms-transform: rotate(45deg) translate(-1px, 0px);
  -o-transform: rotate(45deg) translate(-1px, 0px);
  transform: rotate(45deg) translate(-1px, 0px); }
.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
  -moz-transform: rotate(-45deg) translate(6px, -7px);
  -ms-transform: rotate(-45deg) translate(6px, -7px);
  -o-transform: rotate(-45deg) translate(6px, -7px);
  transform: rotate(-45deg) translate(6px, -7px); }
.current-menu-item a,
.ui.dropdown .text,
.ui.dropdown.selected,
.ui.dropdown.default{
  color:  $color__active-menulink !important;
}
.ui.dropdown {
  display: block !important;
}
.ui.top.left.pointing.dropdown>.menu {
  margin: 2em 0 0 !important;
}
