.blog-intro{
  margin-bottom: 20px;
}
.blog-content{
    margin: 20px 0;
    overflow: hidden;
}
.blog-content:first-child {
    margin-top: 0;
}
.item{
    margin: 0 20px;
}
.item a {
    margin: 20px 0 auto;
    display: block;
}
.blog-img img {
  height: 100%;
  float: left;
  width: 35%;
  margin-right: 20px;
  
}
.blogpost-img{
  margin-bottom: 20px;
  width: 100%;
}
.blogpost-img img {
  margin: 0 auto;
}
.fullpage-blog-header,
.post-date{
  text-align: center;
}
.fullpage-blog-header{
  margin-bottom: 30px;
}
.post-date {
  color: #222222;
  opacity: .5;
  margin: 100px 0 15px 0;
}
.fullpage-blog-content p{
  @include font-size(1);
  line-height: 24px;
  text-align: center;
  
}
