#discount-block{
  margin-bottom: 80px;
}
.discount-main {
  background-color: $color__background-discount;
}
.discount-main,
.discount-faq{
    padding: 50px 0 0;
}

.discount {
    text-align: center;
    margin: 5px 20px;
    padding: 20px;

}
.discount h3 {
    font-weight: bold;
}
.discount img {
    width: 80px !important;
    margin: 0 auto;
}
.order-section {
  width: 100%;
  background-color: #fff;
}