.discount-header,
.discount-head {
  text-align: center;
  font-weight: bold;
  @include font-size(1.8);
  margin: 80px 0 40px;

}
.accordion-container{
  position: relative;
  height: auto;
  margin: 0 auto 30px;
}
.set{
  position: relative;
  width: 100%;
  height: auto;
}
.set > a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border-bottom: 1px solid $color__link;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a .svg-inline--fa{
  float: right;
  margin-top: 2px;
  color: #B2D7C1;
}
.set > a.active .svg-inline--fa{
  background-color: $color__background-body;
  color: $color__link;
}
.content{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display:none;
}
.content p{
  padding: 10px 15px;
  margin: 0;
  color: #333;
}