.discount-header {
  margin: 40px;
}
.discount-header,
.discount-head {
    text-align: center;
    font-weight: bold;
    @include font-size(1.8);

}
.accordion-container{
  position: relative;
  height: auto;
  margin: 30px auto;
}
.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.set > a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border-bottom: 1px solid $color__link;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a .svg-inline--fa{
  float: right;
  margin-top: 2px;
}
.set > a.active{
  background-color: $color__background-body;
  color: $color__link;
}
.content{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display:none;
}
.content p{
  padding: 10px 15px;
  margin: 0;
  color: #333;
}