.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
// front page services block.
.featured_block {
    width: 100%;
    margin: 50px 0 0;
}
.blocks {
    height: 100%;
}
.single-block {
    height: 595px;
}
.blocks {
   align-content: center;
   position: relative;
   
}
.blocks,
.item-service,
.phases-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.blocks,
.item-service,
.phases-blocks {
  flex-wrap: wrap;
}
.item-service {
  width: 100%;
  flex-wrap: nowrap;
}
.phases-blocks:last-child {
  flex-direction: row-reverse;
}
.block-text,
.block-video{
  flex: 1 50%;
}
.text-block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-self: center;
  width: 80%;
  margin: 100px auto;
  line-height: 24px;
  @include font-size(1)

}
.phases-blocks .block-video {
  background-color: $color__link;
}

.block-item {
    flex: 1 30%;
    align-self: stretch;
    box-sizing: border-box;
}

.mattress {
    background-color: $color__background-mattress;
}
.sofa,
.order-block {
    background-color: $color__background-sofa;
}
.carpet {
    background-color: $color__background-carpet;
}
.mattress,
.sofa {
    color: $color__text-footer;
}
.block-content {
   padding-left: 24px;
   padding-top: 50px;
}
.feat-img{
  position: relative;
  bottom: 0;
  width: 80%;
  float: right;
}
.block-content h1 {
    margin: 0;
    padding: 0;
    line-height: 43px;

}
.block-content p {
    margin: 10px 0;
    padding: 0;
    line-height: 24px;
    opacity: .8;
}
.block-contet, .block-price {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
    width: 110px;
    background: $color__background-opacity;
    padding: 8px;

}
.block-contet, .block-price p {
  margin: 0;
  padding: 5px;
}
.blocks p.link-more {
    opacity: 1;
}
.blocks p.link-more > a {
    display: block;
    position: absolute;
    margin: 0 24px;
    bottom: 21px;
    @include font-size(0.9);
    color: $color__text-footer;
    text-decoration: none;
    text-transform: uppercase;

}
.single-content {
    width: 40%;
    margin-left: 60px;
    position: relative;
}
a.order-button{
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  display: block;
  text-align: center;
  background: #000;
  padding: 10px;
}
.block-img {
  max-height: 300px;
}
.carpet p.link-more > a {
    color: $color__inverted-link;
}
.reviews,
.order-form,
.s_blocks {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
}
.price-block {
  background-color: $color__background-discount;
  padding: 40px 0;
}
.price-block-title
{
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.prices-title {
  width: 90%;
  display: none;
}
.prices {
  background-color: #fff;
  @include box-shadow(0, 0, 15px, -4px, rgba(0, 0, 0, 0.17));
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 0;
}
.price-item {
  width: 23.33%;
}
.price-content::after {
  display: block;
  content: "";
  border-top: .1rem solid $color__border-line;
  margin: 5px 0;

}
.prices p {
  margin: 2px 0;

}
.prices span {
  color: $color__link;
  display: block;
}
.reviews,
.order-form {
  flex-direction: row;
}
.reviews {
  justify-content: space-around;
  background-color: $color__background-discount;
}
.order-form {
  justify-content: space-between;
}
.s_blocks {
  flex-direction: column;
}
.reviews,
.s_blocks,
.price-block
{
  padding: 80px 0;
}
.reviews h2 {
  margin-bottom: 20px;
}
.review-block {
  width: 43%;
  margin: 0 auto;
}
.review-block .icon {
  @include font-size(2);
  position: relative;
  bottom: -10px;

}
.review-block span {
  @include font-size(1.4);

}
.review-block span.review_number {
  position: absolute;
  right: 0;
  bottom: 0;
}
.review_count {
  color: $color__text-grey;
  @include font-size(1);
  line-height: 24px;
}
.review_line progress {
  width: 100%;
  height: 3px;
  background-color: $color__background-progress;
}
.response,
.response-item{
  width: 100%;
}
.s-response {
  padding: 60px 0 0 0;
}
.s-response h2 {
  text-align: center;
  margin-bottom: 30px;
}
.response {
  width: 80%;
  margin: 0 auto;
}
.response img {
  height: 80vh;
  object-fit: cover;
}
.response-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 30px 0 0;
}
.author-pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 20px 0;
}
.author-pic img {
  border: 1px solid red;
  width: 70px !important;
  height: 60px !important;
  border-radius: 50%;
  margin-right: 10px;
}
.r-item h1 {
  width: 100%;
  margin: 0;
}
.r-item {
  flex: 1 50%;
}
.r-item a {
  float: right;
}
.r-item a .svg-inline--fa {
  @include font-size(2)
}

.r-item a .fa-share{
  @include font-size(1.7)
}
#resp-slider {
  position: relative;
}

.owl-prev span,
.owl-next span{
  @include font-size(5);
  color: $color__link;
  position: absolute;
  top: 35%;
}
.owl-prev span{
  left: 5%;
}
.owl-next span{
  right: 5%;
}
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
  background: #D9D9D9 !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
  background: #D9D9D9;
}

.order-block {
    color: $color__text-footer;
    height: 545px;
    position: relative;
}
.order_content {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    right: 20%;
}
.order-btn {
    position: absolute;
    bottom: 30%;
    padding: 10px !important;
    width: 90%;
    margin: 0 auto !important;
}
.order_content input[type="submit"],
.order-btn {
    margin: 15px 0;
    border-radius: 3px;
    border: 0;
    padding: 15px;
}
.order_content input[type="tel"] {
    padding: 10px;
    border-radius: 3px;
}
.order-block,
.adver-pict {
    flex: 1 50%;
    align-self: stretch;
    box-sizing: border-box;
}
.adver-pict img {
  width: 100%;
  height: 100%;
}
.block {
    margin: 20px 0;
    text-align: center;
}
.block h2{
    margin: 0;
    padding: 0;
}
.block .socials{
    background-color: $color__link;
    padding: 5px 10px;
    color: $color__text-footer;
    margin: 0 5px;
    border-radius: 10px;
    width: 130px;
    display: inline-block;
    text-align: left;
}
.socials .svg-inline--fa {
    margin-right: 8px;
    @include font-size(1.3);
}
