.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
// front page services block.
.featured_block {
    width: 100%;
}
.blocks {
    height: 100%;
}
.single-block {
    height: 595px;
}
.blocks {
    align-content: center;
}
.blocks,
.item-service {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.item-service {
    width: 100%;
}
.block-item {
    flex: 1 30%;
    align-self: stretch;
    box-sizing: border-box;
}
.mattress {
    background-color: $color__background-mattress;
}
.sofa,
.order-block {
    background-color: $color__background-sofa;
}
.carpet {
    background-color: $color__background-carpet;
}
.mattress,
.sofa {
    color: $color__text-footer;
}
.block-content {
   position: relative;
   height: 100%;
   padding-left: 24px;
   padding-top: 50px;
   //border: 1px solid red;
}
.block-content h1 {
    margin: 0;
    padding: 0;
    line-height: 43px;

}
.block-content p {
    margin: 10px 0;
    padding: 0;
    line-height: 24px;
    opacity: .8;
}
.block-contet, .block-price {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 0;
    line-height: 24px;
    border-radius: 3px;
    width: 120px;
    background: $color__background-opacity;

}
.block-content p.link-more {
    opacity: 1;
}
.block-content p.link-more > a {
    display: block;
    position: absolute;
    bottom: 21px;
    @include font-size(0.9);
    color: $color__text-footer;
    text-decoration: none;
    text-transform: uppercase;

}
.single-content {
    border: 1px solid red;
    width: 40%;
    margin-left: 60px;
}
.carpet p.link-more > a {
    color: $color__inverted-link;
}
.reviews,
.order-form,
.s_blocks {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
}
.reviews,
.order-form {
    flex-direction: row;
}
.reviews {
    justify-content: space-around;
}
.order-form {
    justify-content: space-between;

}
.s_blocks {
    flex-direction: column;
}
.reviews,
.s_blocks {
    padding: 80px 0;
}
.order-block {
    color: $color__text-footer;
    height: 545px;
    position: relative;
}
.order_content {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}
.order-btn {
    position: absolute;
    bottom: 30%;
    padding: 10px !important;
    width: 90%;
    margin: 0 auto !important;
}
.order_content input[type="submit"],
.order-btn {
    margin: 15px 0;
    border-radius: 3px;
    border: 0;
    padding: 15px;
}
.order_content input[type="tel"] {
    padding: 10px;
    border-radius: 3px;
}
.order-block,
.adver-pict {
    flex: 1 50%;
    align-self: stretch;
    box-sizing: border-box;
}
.adver-pict img {
  width: 100%;
  height: 100%;
}
.block {
    margin: 20px 0;
    text-align: center;
}
.block h2{
    margin: 0;
    padding: 0;
}
.block .socials{
    background-color: $color__link;
    padding: 5px 10px;
    color: $color__text-footer;
    margin: 0 5px;
    border-radius: 10px;
    width: 130px;
    display: inline-block;
    text-align: left;
}
.socials .svg-inline--fa {
    margin-right: 8px;
    @include font-size(1.3);
}
