.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
// front page services block.
.featured_block {
    width: 100%;
    margin: 70px 0 0;
    height: 100%;
    
}
.blocks {
  height: 100%;
  position: relative;
}

.blocks,
.phases-blocks {
    @include flexbox();
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.phases-blocks:last-child {
  flex-direction: row-reverse;
}
.block-text,
.block-video{
  flex: 1 50%;
}
.text-block {
  @include flexbox();
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-self: center;
  width: 60%;
  margin: 100px auto;
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;

}
.phases-blocks .block-video {
  background-color: $color__link;
}
.block-item {
    flex: 1 ;
    padding: 40px 0 0;
    position: relative;
}
.block-content {
   padding-left: 24px;
   overflow: hidden;
}
.feat-img{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}
.sofa .feat-img img,
.mattress .feat-img img {
  position: absolute;
  bottom: 0;
}
.block-content h1 {
  margin: 0;
  padding: 0;
  line-height: 43px;
  font-size: 36px;
  font-weight: 600;

}

.block-content p {
  margin: 10px 0;
  padding: 0;
  line-height: 24px;
  opacity: .8;
  font-size: 16px;
}
.block-price {
  margin-top: 50px;
  @include flexbox();
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 24px;
  border-radius: 3px;
  width: 110px;
  background: $color__background-opacity;
  padding: 8px;
  font-size: 16px;

}
.block-contet, .block-price p {
  margin: 0;
  padding: 5px;
}
.blocks p.link-more {
  opacity: 1;
}
.blocks p.link-more {
  display: block;
  position: absolute;
  margin: 0 24px;
  bottom: 21px;
  color: $color__text-footer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;

}


.carpet a {
  color: $color__text-footer;
}
/*== Single service ==*/
.single-block {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  overflow: hidden;
  min-height: 595px;
  height: 100%;  
}
.item-service {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-serveice-content{
  width: 70%;
  height: 60%;
  position: relative;
}

a.order-button {
  width: 90%;
  color: #fff;
  display: block;
  text-align: center;
  background: #000;
  padding: 10px;
  position: absolute;
  bottom: 0; 
}
.block-img {
  //border: 1px solid red;
  display: flex;
  align-items: flex-end;
  
}

/*== #Single service ==*/

.reviews,
.order-form,
.s_blocks {
  @include flexbox();
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
}
.price-block {
  background-color: $color__background-discount;
  padding: 40px 0;
}
.price-block-title
{
  margin-bottom: 30px;
  @include flexbox();
  align-items: flex-end;
  justify-content: space-between;
}
.price-block-title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 43px; 
}
.prices-title {
  width: 90%;
  display: none;
}
.prices {
  background-color: #fff;
  @include box-shadow(0, 0, 15px, -4px, rgba(0, 0, 0, 0.17));
  @include flexbox();
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 0;
  border-radius: 4px;
}
.price-item {
  width: 23.33%;
}
.price-item h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.price-content::after {
  display: block;
  content: "";
  border-top: .1rem solid $color__border-line;
  margin: 5px 0;

}
.prices p {
  margin: 10px 0;

}
.prices span {
  color: $color__link;
  display: block;
  font-weight: 600;
  margin: 10px 0;
}
.reviews,
.order-form {
  flex-direction: row;
}
.reviews {
  justify-content: space-around;
  background-color: $color__background-discount;
}
.order-form {
  justify-content: space-between;
}
.s_blocks {
  flex-direction: column;
  background-color: $color__background-discount;
}
.reviews,
.s_blocks,
.price-block
{
  padding: 100px 0;
}
.reviews h2 {
  margin-bottom: 20px;
}
.review-block {
  width: 43%;
  margin: 0 auto;
}
.review-block .icon {
  font-size: 20px;
  position: relative;
  bottom: -10px;
  font-weight: 600;
  font-style: normal;

}
.review-block span.review_number {
  position: absolute;
  right: 0;
  bottom: 0;
}
.review-block span.review_number span {
  color: $color__inactive_text;
}
.review_count {
  color: $color__text-grey;
  margin: 10px 0;
  line-height: 24px;
}
.review_line progress {
  width: 100%;
  height: 3px;
  background-color: $color__background-progress;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
.review_line progress::-moz-progress-bar{
  background-color: $color__background-progress;
}
.review_line progress::-webkit-progress-bar {
  background-color: $color__background-progress;
}
.review_line progress::-webkit-progress-value {
  background-color: $color__background-progress;
}
.review_line progress::-ms-fill{
  background-color: $color__background-progress;
}
.response,
.response-item{
  width: 100%;
}
.s-response {
  padding: 60px 0 0 0;
}
.s-response h2 {
  text-align: center;
  margin-bottom: 30px;
}
.response {
  width: 80%;
  margin: 0 auto;
}
.response img {
  height: 80vh;
  object-fit: cover;
}
.response-items {
  @include flexbox();
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 30px 0 0;
}
.author-pic {
  @include flexbox();
  flex-direction: row;
  align-items: center;
  margin: 0 0 20px 0;

}
.author-pic img {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  margin-right: 10px;
  @include box-shadow(0, 0, 15px, -4px, rgba(0, 0, 0, 0.17));
}
.author-pic p {
  font-size: 24px;
  font-weight: 600;
}
.r-item h1 {
  width: 100%;
  margin: 0;
}
.r-item {
  flex: 1 50%;
}
.r-item a {
  float: right;
}
.r-item a .svg-inline--fa {
  @include font-size(2)
}

.r-item a .fa-share{
  @include font-size(1.7)
}
#resp-slider {
  position: relative;
}

.owl-prev span,
.owl-next span{
  @include font-size(5);
  color: $color__link;
  position: absolute;
  top: 35%;
}
.owl-prev span{
  left: 5%;
}
.owl-next span{
  right: 5%;
}
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
  background: #D9D9D9 !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
  background: #D9D9D9;
}

.order-block {
    color: $color__text-footer;
    display: flex;
    align-items: center;

}
.order_content {
  max-width: 450px;    
  width: 100%;
  margin: 0 auto;
}
.order-btn {
    position: absolute;
    bottom: 30%;
    padding: 10px !important;
    width: 90%;
    margin: 0 auto !important;
}
.order_content input[type="submit"],
.order-btn {
    margin: 15px 0 0;
    border-radius: 3px;
    border: 0;
    padding: 15px;
    @include font-size(1);
}
.order_content input[type="tel"] {
    padding: 10px;
    border-radius: 3px;
}
.order-block,
.adver-pict {
    flex: 1 50%;
    align-self: stretch;
    box-sizing: border-box;
}
.adver-pict img {
  width: 100%;
  height: 100%;
}
.block {
    margin: 20px 0;
    text-align: center;
    
}
.block h2{
    margin: 10px 0;
    padding: 0;
    line-height: 43px;
    
}
.socials-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 780px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.block .socials {
    background-color: $color__link;
    padding: 5px 10px;
    color: $color__text-footer;
    max-width: 180px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    text-align: left;
    align-items: center;
    text-align: left;
    
    
}
.socials .svg-inline--fa {
  margin: 5px 8px;
  @include font-size(1.4);
  float: left;
  width: 25px;
  height: 25px;
}
.socials span {
  display: block;
  width: 100%;
  margin-left: 10px;
}
